*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefeff;
    padding: 10px 20px; 
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
}

#logo-container{
    
    width: 250px;
    height: 66px;
    background-image: url(imgs/logo-bank.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#tema{
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    background-color:#17a54d ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px);
    padding: 20px;
}

.container{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 10px 15px #17a54d;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 120px;
}

@keyframes colorChange1{
    0% { color: rgb(210, 210, 210); }
      25% { color: rgb(255, 0, 0); }
      50% { color: rgb(248, 245, 245); }
      75% { color: rgb(18, 19, 18); }
      100% { color: rgb(247, 246, 246); }
}

.color-changing1{
    animation: colorChange1 4s infinite;
    cursor: pointer;
    font-weight: bold;
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.color-changing1::after{
    content: "游 Cajero Autom치tico 游";
}

select{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    display: flex;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: #17a54d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b4292d; /* Cambio de color al pasar el mouse */
}

form #option-screen{
    display: none;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.container #options-screen{
    font-size: 24px;
    font-weight: bold;
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
    color: white;
    padding: 12px;
}

#option-screen h2{
    font-size: 24px;
    font-weight: bold;
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
    color: #17a54d;
}

#options-screen button {
    margin-top: 15px;
}

button #menu{
    background-color: #b4292d;
}

#saldo-display {
    margin-top: 20px;
    font-size: 18px;
    color: #17a54d;
}

#transaction-message {
    margin-top: 20px;
    color: #17a54d;
    font-size: 18px;
}

#error-message {
    color: red;
    margin-top: 20px;
}

#ingreso-display{
    margin-top: 20px;
    font-size: 16px;
    color: #17a54d;
}

#retiro-display{
    margin-top: 20px;
    font-size: 16px;
    color: #17a54d;
}

#historial-display {
    margin-top: 20px;
    font-size: 16px;
    color: #17a54d;
}
.container-footer{
    display: flex;
    top: 21px;
    border-top: solid 1px #17a54d;
    padding: 18px;
    justify-content: center;
    align-items: center;
}


@keyframes colorChange2{
    0% { color: red; }
      25% { color: red; }
      50% { color: green; }
      75% { color: rgb(19, 137, 13); }
      100% { color: red; }
}

.color-changing2{
    animation: colorChange2 4s infinite;
    cursor: pointer;
    font-weight: bold;
    font-family: SoDo Sans, Helvetica, Arial, sans-serif;
    font-size: large;
}

.color-changing2::after{
    content: "춸勇뀺odos los derechos reservados desde 2025";
}

@media (max-width: 600px) {
    /* Ajustar el tama침o del logo en pantallas peque침as */
    #logo-container {
        width: 170px;
    }

    /* Ajustar el tama침o del t칤tulo */
    #tema h2 {
        font-size: 20px;
    }

    /* Hacer el formulario m치s amplio en pantallas peque침as */
    .container {
        width: 80%;
    }
}